<?xml version="1.0"?>
<launch>

  <!-- Start basic joystick interface nodes -->
  <group>
    <push_ros_namespace namespace="steamdeck_joy_teleop" />
    <node pkg="joy" exec="joy_node" name="joy_node">
      <param from="$(find-pkg-share picar_steamdeck)/config/steamdeck.yaml" />
    </node>
    <node pkg="teleop_twist_joy" exec="teleop_node" name="teleop_twist_joy">
      <param from="$(find-pkg-share picar_steamdeck)/config/steamdeck.yaml" />
      <remap from="cmd_vel" to="/joy_teleop/cmd_vel" />
    </node>
    <!-- start node handling other buttons/actions -->
    <node pkg="picar_steamdeck" exec="deckin" name="deckin_node" >
      <param from="$(find-pkg-share picar_steamdeck)/config/steamdeck.yaml" />
    </node>
  </group>
</launch>
