[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/deck/ros2_ws/src/picar_steamdeck/scripts/controller.sh
Name=Joystick Launcher
Icon=/home/deck/ros2_ws/src/picar_steamdeck/gui/picar_controller.png
